<div class="fondo">
  <div class="overlay">
    <div class="contenedor-formulario">
      <div class="formulario">
        <h3>3. LABORES EXTENSIÓN Y CULTURALES</h3>

        <h4>3.1 ACTIVIDADES DE EXTENSIÓN</h4>
        <div class="formulario-grid">
          <div class="campo">Gestión de proyectos de consultoría</div>
          <input type="text" placeholder="Horas Semana" />
          <input type="text" placeholder="Horas Semestre" />
          <input type="text" placeholder="Descripción" />
          <input type="text" placeholder="Producto" />

          <div class="campo">Acompañamiento al sector empresarial</div>
          <input type="text" placeholder="Horas Semana" />
          <input type="text" placeholder="Horas Semestre" />
          <input type="text" placeholder="Descripción" />
          <input type="text" placeholder="Producto" />

          <div class="campo">Participación en proyectos de intervención comunitaria</div>
          <input type="text" placeholder="Horas Semana" />
          <input type="text" placeholder="Horas Semestre" />
          <input type="text" placeholder="Descripción" />
          <input type="text" placeholder="Producto" />
        </div>

        <h4>3.2 ACTIVIDADES CULTURALES</h4>
        <div class="formulario-grid">
          <div class="campo">Gestión de proyectos culturales</div>
          <input type="text" placeholder="Horas Semana" />
          <input type="text" placeholder="Horas Semestre" />
          <input type="text" placeholder="Descripción" />
          <input type="text" placeholder="Producto" />

          <div class="campo">Promoción de la educación artística</div>
          <input type="text" placeholder="Horas Semana" />
          <input type="text" placeholder="Horas Semestre" />
          <input type="text" placeholder="Descripción" />
          <input type="text" placeholder="Producto" />

          <div class="campo">Divulgación de los valores culturales</div>
          <input type="text" placeholder="Horas Semana" />
          <input type="text" placeholder="Horas Semestre" />
          <input type="text" placeholder="Descripción" />
          <input type="text" placeholder="Producto" />
        </div>

        <div class="botones">
          <button (click)="volverAPaso3()">Volver</button>
          <button (click)="irAGestionAcademica()">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</div>
