<div class="fondo">
  <div class="overlay">
    <div class="contenedor-formulario">
      <div class="formulario">

        <h3>1. LABORES DE DOCENCIA, ACADÉMICAS Y FORMATIVAS</h3>

        <h4>1.1 Datos Generales</h4>
        <div class="formulario-grid">
          <div class="campo">
            <label>Nombre Asignatura:</label>
            <input type="text" [(ngModel)]="nombreAsignatura" name="nombreAsignatura" />
          </div>
          <div class="campo">
            <label>Programa:</label>
            <input type="text" [(ngModel)]="programa" name="programa" />
          </div>
          <div class="campo">
            <label>Grupo:</label>
            <input type="text" [(ngModel)]="grupo" name="grupo" />
          </div>
          <div class="campo">
            <label>Sede:</label>
            <input type="text" [(ngModel)]="sede" name="sede" />
          </div>
          <div class="campo">
            <label>Dedicación de horas (SEMANALES):</label>
            <input type="number" [(ngModel)]="horasSemanales" name="horasSemanales" />
          </div>
          <div class="campo">
            <label>Dedicación de horas (SEMESTRALES):</label>
            <input type="number" [(ngModel)]="horasSemestrales" name="horasSemestrales" />
          </div>
        </div>

        <h4>1.2 Actividades Académicas</h4>
        <div class="formulario-grid-actividades">
          <div></div>
          <div><strong>Horas Semana</strong></div>
          <div><strong>Horas Semestre</strong></div>
          <div><strong>Descripción</strong></div>
          <div><strong>Producto</strong></div>

          <div class="etiqueta-fila">Preparación de clases</div>
          <input type="number" [(ngModel)]="prepHorasSemana" name="prepHorasSemana"/>
          <input type="number" [(ngModel)]="prepHorasSemestre" name="prepHorasSemestre"/>
          <input type="text" [(ngModel)]="prepDescripcion" name="prepDescripcion"/>
          <input type="text" [(ngModel)]="prepProducto" name="prepProducto"/>

          <div class="etiqueta-fila">Evaluación de aprendizajes</div>
          <input type="number" [(ngModel)]="evalHorasSemana" name="evalHorasSemana" />
          <input type="number" [(ngModel)]="evalHorasSemestre" name="evalHorasSemestre"/>
          <input type="text" [(ngModel)]="evalDescripcion" name="evalDescripcion" />
          <input type="text" [(ngModel)]="evalProducto"  name="evalProducto"/>

          <div class="etiqueta-fila">Gestión de eventos académicos</div>
          <input type="number" [(ngModel)]="eventosHorasSemana" name="eventosHorasSemana" />
          <input type="number" [(ngModel)]="eventosHorasSemestre" name="eventosHorasSemestre" />
          <input type="text" [(ngModel)]="eventosDescripcion"  name="eventosDescripcion"/>
          <input type="text" [(ngModel)]="eventosProducto" name="eventosProducto" />
        </div>

        <h4>1.3 Actividades Formativas</h4>
        <div class="formulario-grid-actividades">
          <div></div>
          <div><strong>Horas Semana</strong></div>
          <div><strong>Horas Semestre</strong></div>
          <div><strong>Descripción</strong></div>
          <div><strong>Producto</strong></div>

          <div class="etiqueta-fila">Acompañamiento académico</div>
          <input type="number" [(ngModel)]="acompHorasSemana" name="acompHorasSemana" />
          <input type="number" [(ngModel)]="acompHorasSemestre" name="acompHorasSemestre" />
          <input type="text" [(ngModel)]="acompDescripcion"  name="acompDescripcion"/>
          <input type="text" [(ngModel)]="acompProducto" name="acompProducto" />

          <div class="etiqueta-fila">Cursos de fortalecimiento</div>
          <input type="number" [(ngModel)]="cursosHorasSemana" name="cursosHorasSemana" />
          <input type="number" [(ngModel)]="cursosHorasSemestre" name="cursosHorasSemestre" />
          <input type="text" [(ngModel)]="cursosDescripcion" name="cursosDescripcion" />
          <input type="text" [(ngModel)]="cursosProducto" name="cursosProducto" />

          <div class="etiqueta-fila">Asesoría en emprendimiento</div>
          <input type="number" [(ngModel)]="emprendHorasSemana" name="emprendHorasSemana" />
          <input type="number" [(ngModel)]="emprendHorasSemestre"  name="emprendHorasSemestre" />
          <input type="text" [(ngModel)]="emprendDescripcion" name="emprendDescripcion" />
          <input type="text" [(ngModel)]="emprendProducto"  name="emprendProducto"/>
        </div>

        <div class="botones">
          <button (click)="volverAFormulario()">Volver</button>
          <button (click)="guardarLaboresAcademicas()">Siguiente</button>
        </div>

      </div>
    </div>
  </div>
</div>
