<div class="fondo">
  <div class="overlay">
    <div class="contenedor-formulario">
      <div class="formulario">

        <h3>2. LABORES CIENTÍFICAS</h3>

        <div class="formulario-grid-actividades">
          <div class="etiqueta-fila">Gestión de semilleros de investigación</div>
          <input type="text" placeholder="Horas Semana" />
          <input type="text" placeholder="Horas Semestre" />
          <input type="text" placeholder="Descripción" />
          <input type="text" placeholder="Producto" />

          <div class="etiqueta-fila">Elaboración de propuestas para convocatorias de CTel</div>
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <input type="text" />

          <div class="etiqueta-fila">Gestión de proyectos de investigación en CTel</div>
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <input type="text" />

          <div class="etiqueta-fila">Dirección de grupos de investigación</div>
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <input type="text" />

          <div class="etiqueta-fila">Elaboración de artículos científicos y textos académicos</div>
          <input type="text" />
          <input type="text" />
          <input type="text" />
          <input type="text" />
        </div>

        <div class="botones">
          <button>Enviar</button>

