footer {
  font-size: 0.9rem;
  background-color: #3f9c9c;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: #ccc;
}

footer h5 {
  font-size: 1.5rem;
  color: white;
}

.info {
  margin-left: 0.5rem;
  margin-top: -5px;
  display: block;
}

.border-start {
  border-left: 1px solid #ccc !important;
}

.enlaces {
  color: black;
}

.bg-light.text-dark {
  background-color: #95d4b5 !important;
}

/* Responsividad */
@media (max-width: 576px) {
  footer h5 {
    font-size: 1.2rem;
    padding-left: 0;
    text-align: center;
  }

  .border-start {
    border-left: none !important;
    border-top: 1px solid #ccc !important;
    padding-top: 1rem;
  }

  .info {
    width: 100%;
    margin-left: 0;
    font-size: 0.85rem;
  }

  .enlaces {
    font-size: 0.85rem;
  }
}

@media (min-width: 1920px) {
  footer h5 {
    font-size: 2rem;
  }

  .info {
    font-size: 1.1rem;
  }

  .enlaces {
    font-size: 1.1rem;
  }
}
