<footer class=" text-light py-4">
    <div class="container">
      <div class="row">

        <h5 class="fw-bold">Soporte</h5>
        <!-- Columna izquierda: Correos y Teléfonos -->
        <div class="col-md-6">
          <p><strong>Correos:</strong></p>
          <p id="info">soporte1&#64;corhuila.edu.co</p>
          <p id="info">soporte2&#64;corhuila.edu.co</p>
          <p><strong>Teléfono:</strong></p>
          <p id="info">10********</p>
          <p id="info">3********</p>
        </div>
        <!-- Columna derecha: Horarios -->
        <div class="col-md-6">
          <p><strong>Horarios:</strong></p>
          <p>Lunes a Viernes</p>
          <p id="info">8 A.M. - 12 P.M.</p>
          <p id="info">2 P.M. - 12 P.M.</p>
          <p >Sábados</p>
          <p id="info">8 A.M. - 12 P.M.</p>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <!-- Enlaces de idioma y cookies -->
        <div>
          <a href="#" class="text-light me-3">Idioma</a>
          <a href="#" class="text-light">Cookies</a>
        </div>
        <!-- Derechos de autor -->
        <div>
          <p class="mb-0">&copy; 2025 Generado por Estudiantes grupo 1</p>
        </div>
      </div>
    </div>
  </footer>