<footer class="text-light py-4">
  <div class="container">
    <div class="row text-center text-md-start">
      <h5 class="fw-bold text-center w-100 mb-4">Soporte</h5>

      <div class="col-md-6 mb-3">
        <p><strong>Correos:</strong></p>
        <p class="info">soporte1&#64;corhuila.edu.co</p>
        <p class="info">soporte2&#64;corhuila.edu.co</p>
        <p><strong>Teléfono:</strong></p>
        <p class="info">10********</p>
        <p class="info">3********</p>
      </div>

      <div class="col-md-6 mb-3 border-start ps-md-4">
        <p><strong>Horarios:</strong></p>
        <p>Lunes a Viernes</p>
        <p class="info">8 A.M. - 12 P.M.</p>
        <p class="info">2 P.M. - 12 P.M.</p>
        <p>Sábados</p>
        <p class="info">8 A.M. - 12 P.M.</p>
      </div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-4 p-3 rounded bg-light text-dark">
      <div class="d-flex justify-content-center gap-4 mb-2 mb-md-0">
        <a href="#"><span class="enlaces">Idioma</span></a>
        <a href="#"><span class="enlaces">Cookies</span></a>
      </div>
      <div>
        <p class="mb-0 text-center text-md-end">&copy; 2025 Generado por Estudiantes grupo 1</p>
      </div>
    </div>
  </div>
</footer>
