<div class="container d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-lg" style="width: 350px;">
    <div class="d-flex align-items-center">
      <img src="logo_UH_Digital.png" alt="Logo CORHUILA" style="width: 18rem;">
    </div>
    <form >
      <div class="mb-3">
        <label for="username" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="username" placeholder="123456789" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" placeholder="**********">
          <button type="button" class="btn btn-outline-secondary" (click)="togglePassword()">
            {{ showPassword ? '🙈' : '👁' }}
          </button>
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100" (click)="Profesor()">Acceder</button>
    </form>
    <div class="mt-4">
      <button class="btn btn-outline-dark w-100" type="button" data-bs-toggle="collapse" data-bs-target="#cookiesCollapse">
        Aviso de Cookies
      </button>
      <div class="collapse mt-2" id="cookiesCollapse">
        <div class="card card-body">
          Este sitio web utiliza cookies para mejorar la experiencia del usuario. Al continuar navegando, aceptas nuestra política de cookies.
        </div>
      </div>
    </div>
  </div>
</div>
