<div class="fondo-login">
  <div class="formulario-login">
    <h2>Iniciar Sesión</h2>

    <div *ngIf="errorLogin" class="mensaje-error">
      Correo o contraseña incorrectos o campos vacíos.
    </div>

    <div class="campo">
      <label for="correo">Correo:</label>
      <input type="email" id="correo" [(ngModel)]="correo" required />
    </div>

    <div class="campo">
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" [(ngModel)]="contrasena" required />
    </div>

    <div class="botones">
      <button (click)="iniciarSesion()">Iniciar sesión</button>
    </div>
  </div>
</div>
