<div class="fondo-login">
  <div class="formulario-login">
    <h2>Iniciar Sesión</h2>

    <!-- Mensaje de error si login falla -->
    <div *ngIf="errorLogin" class="mensaje-error">
      Correo o contraseña incorrectos
    </div>

    <div class="campo">
      <label for="correo">Correo:</label>
      <input
        type="email"
        id="correo"
        [(ngModel)]="correo"
        placeholder="Ej: usuario@correo.com"
      />
    </div>

    <div class="campo">
      <label for="contrasena">Contraseña:</label>
      <input
        type="password"
        id="contrasena"
        [(ngModel)]="contrasena"
        placeholder="********"
      />
    </div>

    <div class="botones">
      <button (click)="iniciarSesion()">Iniciar sesión</button>
    </div>
  </div>
</div>
