<div class="fondo">
  <div class="overlay">
    <div class="contenedor-formulario">
      <div class="formulario">
        <h3>4. ACTIVIDADES DE GESTIÓN ACADÉMICA - ADMINISTRATIVA</h3>

        <div class="formulario-grid">
          <div class="campo-titulo"></div>
          <div class="campo-titulo">DEDICACIÓN (HORAS SEMAN)</div>
          <div class="campo-titulo">DEDICACIÓN (HORAS SEMES)</div>
          <div class="campo-titulo">DESCRIPCIÓN DE LA ACTIVIDAD</div>
          <div class="campo-titulo">PRODUCTO</div>

          <div class="campo-label">Participación como jurado y/o asesor académico en trabajos de grado.</div>
          <input /><input /><input /><input />

          <div class="campo-label">Participación en procesos de registros calificados.</div>
          <input /><input /><input /><input />

          <div class="campo-label">Participación en procesos de acreditación.</div>
          <input /><input /><input /><input />

          <div class="campo-label">Participación en Consejos y Comités.</div>
          <input /><input /><input /><input />

          <div class="campo-label">Participación en procesos de autoevaluación.</div>
          <input /><input /><input /><input />

          <div class="campo-label">Participación en Investigaciones de mercado.</div>
          <input /><input /><input /><input />

          <div class="campo-label">Participación en procesos de formación de profesores.</div>
          <input /><input /><input /><input />

          <div class="campo-label">Programación y gestión de prácticas extramuros.</div>
          <input /><input /><input /><input />

          <div class="campo-label">Elaboración de exámenes para validaciones.</div>
          <input /><input /><input /><input />

          <div class="campo-label">Líder de CTel, extensión y proyección social.</div>
          <input /><input /><input /><input />

          <div class="campo-label">Líder de resultados de aprendizaje.</div>
          <input /><input /><input /><input />
        </div>

        <div class="botones">
          <button (click)="volverAPaso4() ">atras</button>
          <button (click)="irADashboard()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>


